<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="custom-container">
        <!-- <button class="btn btn-primary col-4" style="margin-right: 50px;">Simple</button>
          <input type="text" placeholder="Add new task..." style="margin-right: 30px;" class="col-6" />
          <button class="btn btn-primary col-4">Ngx-Datatable</button> -->
          <h3 style="margin-bottom: 30px;" class="text-secondary">To Do List</h3>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Add todo..." #todo>
          <div class="input-group-append">
            <button class="btn btn-success" type="button" (click)="add(todo.value)">ADD</button>
          </div>
        </div>
      </div>

      <div class="custom-container" *ngIf="showBox">
          <h3 style="margin-bottom: 30px;" class="text-secondary">Your List</h3>
        <div class="input-group mb-3" *ngFor="let data of getData; index as i">
          <input type="text" class="form-control" [value]="data" #editedValue>
          <div class="input-group-append">
            <button class="btn btn-primary" type="button" (click)="edit(editedValue.value,i)" >Edit</button>&nbsp;
            <button class="btn btn-danger" type="button" (click)="delete(i)" >Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>